<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar su contraseña. Puede hacerlo siguiendo el link:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicito una nueva contraseña, por favor ignore este correo.</p>
<p>Su contraseña no cambiara hasta que acceda al link previo y cree una nueva contraseña.</p>