<!DOCTYPE html>
<html>
<head>
  <title>Hechos 2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= csrf_meta_tags %>
</head>

<body class="background-dark">
    <!-- <div class="logo">
        <h4><a href="/">IBVN - <strong>Hechos 2</strong></a></h4>
    </div> -->

<!--     <nav>
    </nav> -->

<!-- 	    <header class="page-header">
	    </header> -->

	    <div class="content container">
			<%= yield %>
		</div>
</body>

</html>
